* {
    box-sizing: border-box;
    }
    
    body {
    background-color: #165674;
    }

    /* The form */
    
    #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    }
    
    h1 {
    text-align: center;  
    }
    
    input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #888888;
    }
    
    input.invalid {
    background-color: #ffdddd;
    }
    
    .tab {
    display: none;
    }
    
    button {
    background-color: #4625bd;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    }
    
    button:hover {
    opacity: 0.8;
    }
    
    #prevBtn {
    background-color: #179288;
    }
    

    /* Indicator at the bottom */
    
    .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #666161;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    }
    
    .step.active {
    opacity: 1;
    }
    
    .step.finish {
    background-color: #5f0505;
    }


    /* Drop Down for the Campaign Details Page */
    .dropdown-check-list {
        display: inline-block;
    }
    .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    }
    .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
    }
    .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    }
    .dropdown-check-list ul.items li {
    list-style: none;
    }
    .dropdown-check-list.visible .anchor {
    color: #0094ff;
    }
    .dropdown-check-list.visible .items {
    display: block;
    }



    /* Last Page */
    .contact-form{
        text-align: center;
        box-sizing: border-box;
        margin-right: 40px;
        margin-top: 60px;
    }
    .icon{
        margin-right: 0px;
    }
    .form-input{
        font-size: large;
        margin: 20px;
        width: 80%;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: whitesmoke;
    }
    .form-input:focus{
        border-bottom: 2px solid blue;
    }

    #budget{
        font-size: large;
        margin: 5px;
        width: 83%;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: whitesmoke;
    }
